<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8d90f7">  <td>18/06/17 22:25:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;APITest.afterMethod()[pri:0, instance:Lightbulb_API_Test.APITest@16f7c8c1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1032000752</td>   <td></td> </tr>
<tr bgcolor="8d90f7">  <td>18/06/17 22:25:25</td>   <td>82</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;APITest.afterMethod()[pri:0, instance:Lightbulb_API_Test.APITest@16f7c8c1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1032000752</td>   <td></td> </tr>
<tr bgcolor="8d90f7">  <td>18/06/17 22:25:22</td>   <td>-3453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITest.setupURL()[pri:0, instance:Lightbulb_API_Test.APITest@16f7c8c1]">&gt;&gt;setupURL</td> 
<td>&nbsp;</td>  <td>main@1032000752</td>   <td></td> </tr>
<tr bgcolor="8d90f7">  <td>18/06/17 22:25:25</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITest.setupURL()[pri:0, instance:Lightbulb_API_Test.APITest@16f7c8c1]">&gt;&gt;setupURL</td> 
<td>&nbsp;</td>  <td>main@1032000752</td>   <td></td> </tr>
<tr bgcolor="8d90f7">  <td>18/06/17 22:25:24</td>   <td>-1210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITest.testswitchOnhighpower()[pri:0, instance:Lightbulb_API_Test.APITest@16f7c8c1]">testswitchOnhighpower</td> 
  <td>main@1032000752</td>   <td></td> </tr>
<tr bgcolor="8d90f7">  <td>18/06/17 22:25:25</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITest.testswitchofflight()[pri:0, instance:Lightbulb_API_Test.APITest@16f7c8c1]">testswitchofflight</td> 
  <td>main@1032000752</td>   <td></td> </tr>
</table>
