<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Lightbulb_API_Test.APITest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testswitchonlowpower</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testswitchofflight</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testswitchondefaultpower</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testswitchOnhighpower</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
