<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ad74ee">  <td>18/06/17 23:16:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;APITest.afterMethod()[pri:0, instance:Lightbulb_API_Test.APITest@4c762604]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="ad74ee">  <td>18/06/17 23:16:28</td>   <td>3514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;APITest.afterMethod()[pri:0, instance:Lightbulb_API_Test.APITest@4c762604]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="ad74ee">  <td>18/06/17 23:16:30</td>   <td>4984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;APITest.afterMethod()[pri:0, instance:Lightbulb_API_Test.APITest@4c762604]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="ad74ee">  <td>18/06/17 23:16:31</td>   <td>6342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;APITest.afterMethod()[pri:0, instance:Lightbulb_API_Test.APITest@4c762604]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="ad74ee">  <td>18/06/17 23:16:08</td>   <td>-16750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITest.setup()[pri:0, instance:Lightbulb_API_Test.APITest@4c762604]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="ad74ee">  <td>18/06/17 23:16:25</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITest.setup()[pri:0, instance:Lightbulb_API_Test.APITest@4c762604]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="ad74ee">  <td>18/06/17 23:16:28</td>   <td>3514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITest.setup()[pri:0, instance:Lightbulb_API_Test.APITest@4c762604]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="ad74ee">  <td>18/06/17 23:16:30</td>   <td>4984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITest.setup()[pri:0, instance:Lightbulb_API_Test.APITest@4c762604]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="ad74ee">  <td>18/06/17 23:16:13</td>   <td>-11532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITest.testswitchOnhighpower()[pri:0, instance:Lightbulb_API_Test.APITest@4c762604]">testswitchOnhighpower</td> 
  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="ad74ee">  <td>18/06/17 23:16:25</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITest.testswitchofflight()[pri:0, instance:Lightbulb_API_Test.APITest@4c762604]">testswitchofflight</td> 
  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="ad74ee">  <td>18/06/17 23:16:28</td>   <td>3514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITest.testswitchondefaultpower()[pri:0, instance:Lightbulb_API_Test.APITest@4c762604]">testswitchondefaultpower</td> 
  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="ad74ee">  <td>18/06/17 23:16:30</td>   <td>4984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITest.testswitchonlowpower()[pri:0, instance:Lightbulb_API_Test.APITest@4c762604]">testswitchonlowpower</td> 
  <td>main@1909546776</td>   <td></td> </tr>
</table>
